<h1 style="font-family: Arial, sans-serif; font-size: 24px; color: #333; margin: 0 0 10px;">
    Demande de contact
</h1>
<p>
    Une demande de contact a été effectuée à été effectuée par {{ context.firstName }} {{ context.lastName }} sur ton site !!
</p>
<p>
    Voici le message qu'il a laissé : <br>
    {{ context.message }}
</p>
<p>
    Tu peux le contacter à l'adresse email suivante : <a href="mailto:{{ context.email }}">{{ context.email }}</a> ou par téléphone au {{ context.phone }}.
</p>
<p>
    A bientôt !

